* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header section start */
header {
    width: 100%;
    height: 55px;
    background-color: #111A39;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 5px 125px;
    position: relative;

}

header ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

header ul li {
    display: inline-block;
    list-style: none;
    margin-right: 25px;
}
header ul li img{
    width:35px;
    height:20px;
}

.a1 {
    font-family: fantasy;
}

#a {
    color: #41b9f0;
}

#c {
    color: #B9317B;

}

#b {
    color: #B86550;
}

#g {
    color: #92AF83;
}

#a,
#b,
#c {
    font-size: 40px;
}

/*  /Header section end */

/* Banner section start */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/g4.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 692px;
    position: relative;
}

.banner h1 {
    position: absolute;
    top: 40px;
    left: 200px;
    padding: 40px;
    font-size: 65px;
    color: #fff;

}

.banner h2 {
    position: absolute;
    top: 260px;
    left: 300px;
    font-size: 35px;
    color: #fff;
}

.banner form{
    width: 100%;
    top: 515px;
    height: auto;
    position: relative;
}

.buttonform {

    position: absolute;
    width: 84%;
    left: 130px;
    height: 165px;
    background-color: #B9317B;

}

.buttonform ul {
    list-style: none;
    display: inline-block;
    margin-right: 9px;
    color: wheat;

}

.datta {
    color: #fff;
    background-color: red;
}

.searchform label {
    display: none;
}

.searchform {
    margin-right: 60px;
}

.searchform input,
.searchform select {
    padding: 14px;
    margin-right: 30px;
    margin-top: 30px;
}

.searchform span {
    color: rgb(11, 254, 27);
    margin-right: 26px;
}

.searchform button {
    width: 90px;
    height: 90px;
    border: 2px solid red;
    background-color: red;
    border-radius: 50%;
}

.trip {
    position: absolute;
    left: 20px;
    margin-left: 20px;

}

.trip input {
    margin: 20px;
    background-color: #ef8ec3;

}

/* Banner section End */

/* our fun section start */
.fun {
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/mountain.jpg);
    background-size: 100% 100%;
    padding: 50px 125px;
}

.fun h2 {
    text-align: center;
    font-size: 33px;
    color: #fff;
    padding-top: 30px;
}

.fun ul {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}

.fun ul li {
    width: 140px;
    height: 140px;
    text-align: center;
    list-style: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 20px;
    font-size: 60px;

}

.fun ul li p {
    font-size: 15px;
}

/* our fun section End */

/* news section start */
.news {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/00000.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 350px;
    position: relative;


}

.news h2 {
    color: #FFF;
    position: absolute;
    right: 125px;
    top: 25px;
}

.news p {
    position: absolute;
    color: #fff;
    right: 180px;
    top: 80px;
    padding: 10px;

}

.button1 {
    position: absolute;
    color: #fff;
    right: 145px;
    top: 150px;


}

.button1 ul li {
    list-style: none;
    display: inline-block;


}

.button1 ul li button {
    width: 250px;
    background-color:#9586AA;
    border: none;
    height: 30px;
    margin-right: 20px;
}

.button1 ul li input {
    width: 130px;
    height: 31px;
    border:2px solid #9586AA;
    background-color:#9586AA;
    color: #fff;
}

 /*  /news section End */

 /* destination section Start */
 
.destination{
    width:100%;
    height: auto;
    background-color: rgb(73, 23, 119);
    color:#fff;
    padding:25px 125px;
}
.destination ul{
    display:grid;
    grid-template-columns:repeat(4, 24%);
    grid-template-rows:340px 340px;
    padding:20px 20px;
    grid-gap: 20px 20px;
    
    color:#000000e7;
}
.destination ul li{
    list-style: none;
    border:2px solid #FFF;
}
.destination img{
    width:290px;
    height:210px;
}
.destination h4{
    text-align: center;
}
.destination h4 span{
    color:#fe8153;
}
.destination p span{
    color:#fe8153;
}

.destination div{
    background-color: #fff;
    text-align: center;
}
.destination div p{
    padding:7px;
}
 /* ../destination section end */

 /* Estimate section start */
 .Estmate{
    width:100%;
    height:360px;
    padding:30px 125px;
    background-color: #664BAC;
    color:#fff;
    position:relative;
 }
 .Estmate h2{
    font-size: 27px;;
 }
 .Estmate h2,.Estmate h3{
    text-align: center;
 }
.quick label{
    display:none;
}
.Estmate img{
    position:absolute;
     width:370px;
     height:360px;
     bottom:0;
     right:0;
}
.Estmate form{
    position:absolute;
    bottom: 90px;
}
.Estmate form select,.Estmate form input{
    padding:20px;
    padding-right:35px;
    margin-right:26px;
    color:black;
}
.Estmate form span input{
    background-color: #FC920B;
}

 /* .../Estimate section end */

 /* blogs section start */
.blogs{
    width:100%;
    height:auto;
    padding:50px 200px;
}
.blogs h2{
    text-align: center;
}
.blogs h2+p{
    text-align: center;
    padding:10px 205px;
}
.blogcontent{
    margin:10px auto;
    display:flex;
}
.blogcontent div{
    display:flex;
    padding:10px;
}
.blogcontent div div{
    display: inline-block;
}
hr{
    width:50px;
    height:3px;
    background-color: #000000e7;
    
}
.blogcontent div div p{
    padding-top: 15px;
}
 /* blogs section End */

 /* header section start */
 footer{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/666.png);
    background-size: 100% 100%;
    width:100%;
    padding:50px 125px;
    height:auto;
    display: flex;
    justify-content: space-between;
    
 }
 footer div h3{
    color:#ea94ff;
 }
 footer h3{
    padding:12px;
    color:#7a308d;
 }
 .ame{
    margin-top: 60px;;
 }

 footer ul li{
    list-style: none;
 }
 footer ul li a{
    text-decoration: none;
    color:#9489a1;
    font-weight: 400px;
 }

 footer ul li span{
    color:#dda1ec;
 }
 footer{
    padding:30px;
 }
 /* header section End */